absl-py
attrs
blinker
cffi
click
contourpy
cycler
Flask
flask-cors
flatbuffers
fonttools
itsdangerous
jax
jaxlib
Jinja2
kiwisolver
MarkupSafe
matplotlib
mediapipe
ml_dtypes
numpy
opencv-contrib-python
opencv-python
opt_einsum
packaging
pandas
pillow
protobuf
pycparser
pyparsing
python-dateutil
pytz
scipy
sentencepiece
setuptools
six
sounddevice
tzdata
Werkzeug
wheel
